<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  
  .search-btn i{
   display: inline;
   margin-right: 0.5rem;
  }

  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
<h6><b> made by Rahul kushwah</b></h6>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Search destination"
          />
          <button class="btn search-btn" type="submit" >
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<hr>
<hr>


<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .class-info {
    display: none;
  }

  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;

  }
</style>

<div class="w3-container w3-ligth">
<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountain</p>
  </div>

  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing pools</p>
  </div>

  <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-cow"></i></div>
    <p>Farms</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Domes</p>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
  </div>
  <div class="tax-toggle">
    <div class="form-check form-check-reverse">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault"
    />
    <label class="form-check-label" for="flexSwitchCheckDefault"
      >Display total after takes</label
    >
  </div>
</div>
</div>
</div>
<hr>
  

